<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Error: Work Item Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/vendor/bootstrap_5.3.0_css.min.css">
  <link rel="stylesheet" href="stylesheets/vendor/jquery_ui_1.13.0_themes.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="icon" href="images/azure_devops_favicon.png" type="image/x-icon">
</head>

<header>
  <img src="images/azure_devops_logo.png" alt="Azure DevOps Logo" class="azure-logo">&nbsp;
  <div class="header-content">
    <div class="header-titles">
      <h1 style="margin: 5px 0; color: white;">Work Item Planner</h1>
    </div>
  </div>
  <div style="margin-bottom: 30px;"></div>
</header>

<body>
  <div class="container">
    <h5>Oops! Something went wrong.</h5>
    <p>Reach out to Aditya Mankal (adityamankal)</p>
  </div>
</body>

</html>